@model IEnumerable<Laboratory_2.Models.BillsModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<Center>
    <h4> Carga de Archivos con detalles incluidos.</h4>
    <hr align="CENTER" size="3" width="800" color="white" noshade />
</Center>

<p>
    @Html.ActionLink("Subir Archivo", "UploadBillPablo");
</p>

<center>
    <h4> Carga de Archivos con detalles por aparte.</h4>
    <hr align="CENTER" size="3" width="800" color="white" noshade />
</center>

<p>
    @Html.ActionLink("Subir archivo", "UploadBill")
</p>
<p>
    @Html.ActionLink("Subir archivo de detalles", "UploadBillDescription")
</p>

<center>
    <h4> Crear una nueva factura</h4>
    <hr align="CENTER" size="3" width="800" color="white" noshade />
</center>

<p>
    @Html.ActionLink("Crear factura", "Create")
</p>

<div ALIGN="right">
    <h4> @ViewBag.Message </h4>
</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correlative)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correlative)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        @if (item != null)
        {
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.Serie + item.Correlative.ToString() }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.Serie + item.Correlative.ToString() }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Serie + item.Correlative.ToString() })
        </td>
        }
    </tr>
}

</table>
